/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Smooth Scrolling */
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --nav-height: 44px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 4px -2px;
}

#logo img {
    width: 73px;
    height: 48px;
    margin: 9px 23px;
    background-color: #ffffff;
    border-radius: 10px;
}


/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 40px;
}

#navbar ul li a:hover {
    color: rgb(10, 7, 7);
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 374px;
    padding: 105px 210px;
    margin-bottom: 25px;
    padding-top: 0;
}


#home h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: 'Bree Serif', serif;
    /* Added by me */
    margin-top: 86px;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

#home::before {
    content: "";
    background: url(../img/pexels-photo-461428.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 562px;
    z-index: -1;
    opacity: 0.9;
}

/* Services Section */


#services {
    display: flex;
    justify-content: center;
    align-items: center;
}

#services img {
    display: block;
    margin: auto;
    width: 275px;
    height: 183px;
}

#services .box {
    padding: 13px 15px;
    margin: 10px;
    /* Added by me */
    margin-bottom: 40px;
    border: 2px solid #aaa0a0;
    border-radius: 24px;
    background-color: #f9f9f9;
}

#services .box p {
    font-family: 'Bree Serif', serif;

}

/* Clients Section */
#client-section {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 25px 0;
}

#client-section::before {
    content: "";
    background: url(../img/food-knife-background-wooden.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 119%;
    z-index: -1;
    opacity: 0.6;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}


#clients .client-item {
    padding: 10px;
    margin: 0px 30px;
}

#clients .client-item img {
    width: 256px;
    height: 197px;
}

/* Contact Section */
#contact {
    position: relative;
    height: 100%;
    padding: 30px 0 50px;
    margin: 20px 0;
}

#contact::before {
    /* content: "";
    position: absolute;
    background: url(../img/images\ \(4\).jpg) no-repeat center/cover;
    width: 100%;
    height: 98.5%;
    z-index: -1;
    opacity: 0.4; */

    content: "";
    position: absolute;
    background: url(../img/pexels-ahmed-aqtai-63572.jpg) no-repeat;
    width: 100%;
    height: 98.5%;
    z-index: -1;
    opacity: 0.4;
    background-size: cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 27px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

#contact-box .form-group{
    margin: 15px 0;
}

#submit{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

#submit:hover{
    cursor: pointer;
}



/* Footer */
footer {

    background-color: black;
    opacity: 0.6;
    color: whitesmoke;
    margin: 15px 0 0;
    padding: 5px;
}


/* Utility classes */
.btn {
    padding: 9px;
    background-color: brown;
    color: white;
    margin: 20px;
    border: 2px solid white;
    font-size: 1.2rem;
    border-radius: 9px;
    cursor: pointer;
}

.h-primary {
    font-size: 3.5rem;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2rem;
    font-family: 'Bree Serif', serif;

}

.center {
    text-align: center;
}